.movie-detail-img {
  width: 400px;
}

.movie-detail-title {
  margin-bottom: 40px;
}

.movie-detail-title h2 {
  font-size: 36px;
  margin: 0px;
  margin-bottom: 20px;
}
.movie-detail-info {
  font-size: 18px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.movie-detail-genre {
  font-size: 20px;
  padding-bottom: 30px;
  border-bottom: 3px solid white;
}

.badge {
  font-size: 16px;
  margin-top: 18px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .movie-detail-img {
    width: 300px;
  }
  .movie-detail {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }
}
